//
//  project.uat.xcconfig
//  marauders
//
//  Created by somsak02061 on 5/1/2567 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Configuration/Keys/UAT_KEY.xcconfig"
#include "Configuration/Projects/project.xcconfig"
